body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    background-image: url('fondo.jpg');
    padding: 20px;
  }

  h1 {
    color: #333;
    text-align: center;
    margin-top: 40px;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .course-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .course-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  .course-description {
    color: #666;
    margin-bottom: 20px;
  }

  .course-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .course-author {
    color: #999;
  }

  .course-date {
    color: #999;
    font-style: italic;
  }